body{
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

#map{
    width: 100%; /* Full width */
    height: 100vh; /* Full height of the window*/
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}